<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Dart Vader</mat-card-title>
        <mat-card-subtitle>Kill!!!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://purepng.com/public/uploads/large/purepng.com-darth-vaderdarth-vaderanakin-skywalkerstar-wars-franchiseskywalker-1701527754648rvnd9.png" alt="Darth Vader">
    <mat-card-content>
        <ng-content ></ng-content>
        
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">LIKE</button>
        <button mat-button color="primary">SHARE</button>
    </mat-card-actions>
</mat-card>