<mat-card>
    <mat-card-content>
        <section>
            <mat-form-field>
                <input matInput placeholder="First name" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Age" type="number" [(ngModel)]="age">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="save()">
                <mat-icon>check</mat-icon>
            </button>
        </section>
    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<app-item-client *ngFor="let client of clients; let i=index;" [client]="client" (deleteClient)="deleteClient(i)"
    (editClient)="editClient($event, i)"></app-item-client>