/* You can add global styles to this file, and also import other style files */
html{background: linear-gradient(0deg, rgba(200,0,210,1) 0%, rgba(255,0,128,1) 100%);background-repeat: no-repeat;background-size: 100%; background-attachment: fixed;
}
html, body { height: 100%; padding: 0; margin:0; font-size: 100%; font: inherit; vertical-align: baseline;}
body{ margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
